:root {
  --font-family: "Montserrat", sans-serif;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1520px;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}

.gallery-item {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #808080;
  width: 360px;
}

.gallery-item img {
  width: 100%;
  height: 156px;  
  object-fit: cover;
  display: block;
}
input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  background-color: #fff;
}
input[type="text"] {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ccc; /* рамка */
  padding: 0 12px;         /* отступ внутри */
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  outline: none;
  background-color: #fff;
  color: #808080;  
}
input[type="text"]:hover {
  border: 1px solid #000; 
}
input[type="text"]:focus {
  border: 1px solid #4e75ff; 
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 24px;
  margin-bottom: 24px; 
 
}

.gallery-item .info {
  display: flex;
  justify-content: space-between; 
width: 360px;
  background-color: #ffffff;
  font-family: var(--font-family);
  box-sizing: border-box;
}

.info-item {
 
  box-sizing: border-box;
  text-align: center;
  padding: 4px 20px 0 20px;
  margin-bottom: 6px;
  
  
  
  
  
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  color: #ffffff; 
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
 
}
button:hover{
  background: #6c8cff;
}


.label {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px; 
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}

.value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
}


input:-webkit-autofill {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #333 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.sl-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 9999;
}

.sl-close:hover {
  color: rgb(0, 0, 0); 
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}
